$color-background: #5d0303;
$card-background:#9f0404;
$main-color: rgb(237, 133, 59);
$color-name:rgb(236, 148, 86);
$other-color:rgb(246, 153, 153);

$main-fontStyle: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;