@import "core/reset";
@import "core/variables";

.main-container {
  background-color: $color-background;
  height: 100%;
}

.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: $main-color;
    font-size: 70px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
  }
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;

    &--container {
      color: $main-color;
      font-family: $main-fontStyle;
      display: flex;
      gap: 30px;

      &--filter {
        height: 35px;
        width: 250px;
        padding-left: 15px;
        box-shadow: 0px 0px 35px 4px red;
        border: 3px solid rgb(33, 0, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
      }

      &--label {
        font-size: 20px;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--btn {
        height: 35px;
        width: 120px;
        margin-left: 50px;
        box-shadow: 0px 0px 35px 4px red;
        border: 3px solid rgb(33, 0, 0);
        background-color: brown;
        border-radius: 10px;
        color: $main-color;
        font-family: $main-fontStyle;
        font-size: 15px;
        font-size: 15px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 40px;
    justify-content: center;

    &--listItem {
      border: solid $other-color;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background-color: $card-background;
      width: 270px;

      &--image {
        width: 260px;
        height: 300px;
        object-fit: contain;
      }

      &--name {
        color: $color-name;
        font-family: $main-fontStyle;
        font-size: 20px;
      }

      &--species {
        color: $other-color;
        font-family: $main-fontStyle;
      }
    }
  }
}
.cardContainer {
  background-color: rgb(139, 2, 24);
}
.cardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.sectionText {
  color: $color-link;
  font-family: $main-fontStyle;
  font-style: italic;
  font-size: 18px;
  margin-top: 30px;
}

.link {
  text-decoration: none;
}

.linkCard {
  text-decoration: none;
  color: $color-link;
  border: solid 1px rgb(227, 158, 20);
  border-radius: 10px;
  padding: 5px;
}

.linkReturn {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: $main-fontStyle;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  font-size: 20px;
}
